fastapi
uvicorn
sqlalchemy
jinja2
python-multipart
starlette
passlib[bcrypt]
python-jose[cryptography]
itsdangerous
pytz
pydantic>=2.0
pydantic-settings
pydantic[email]
starlette-csrf
psycopg2-binary
alembic
python-decouple
httpx
email-validator